*{
      margin: 0;
      padding: 0;
      font-family: 'poppins' sans-serif;
      box-sizing: border-box;
  }
body{
      background: #b6d6eb;
      color: #04aa2e;
  }
.main-container{
      margin: 12%;
      width:65%;
      max-width:500px;
  }
.display{
      width: 100%;
      margin-top: 50px;
      margin-bottom: 30px;
      background: #fff;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 26px 20px;
      border-radius: 45px;
  }
.main-container h1{
      font-weight:200;
      font-size: 35px;
  }
.main-container h1 span{
      color: #019f55;
      border-bottom: #019f55;
      padding-bottom: 7px;
  }
.display img{
      width: 30px;
      cursor: pointer;
  }
.display input{
      border: 0;
      outline: 0;
      font-size: 24px;
}
.main-container button img{
      width: 28px;
      margin-right: 10px;
}
.main-container button{
      border: 0;
      background: #69ecaf;
      color: #1b1919;
      font-size: 22px;
      font-weight:100;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 16px;
      border-radius: 35px;
      cursor: pointer;
  }